{% load static %}
<!-- {% static 'Hcss/Home.css' %} -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'Hcss/Home.css' %}">
</head>

<body>
    {% include 'navbar.html' %}

    <div class="seperate">
        <div class="homeMain">
            <p>
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <h1 class="fw-bolder"> Create Performance Review </h1>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Employee image-->
                            <!-- <img class="card-img-top" src="{{ employee.image.url }}" alt="..." /> -->
                            <!-- Employee details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                <div class="col-8">
                                    <br>
                                    <form method="POST" action="{% url 'performancereviewform' %}">
                                        {% csrf_token %}
                                        {{ form.as_p }} <!-- Imports the performance review form from forms.py -->
                                        <button type="submit" class="btn btn-primary" style="margin-right: 10px;" id="createButton">Create</button>
                                        <button type="submit" class="btn btn-secondary" id="saveButton">Save</button>
                                        <br><br><br>
                                    </form>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
            </p>
        </div>
    </div>
    <script>
        function Logout() {
            window.location.href = '{% url "logout" %}';
        }
        setInterval(() => {
            var time = new Date();
            document.getElementById("Time").innerHTML = time.toLocaleTimeString();
        }, 1000)
        window.onclick = function (event) {
            var logoutModal = document.getElementById('logoutModal');
            var registerEmployeeModal = document.getElementById('registerEmployeeModal');

            if (event.target == logoutModal) {
                logoutModal.style.display = "none";
            }

            if (event.target == registerEmployeeModal) {
                registerEmployeeModal.style.display = "none";
            }
        }
    </script>
</body>

</html>